.container {
    display: flex;

}
.item {
    display: inline-block;
    height: 110px;
    width:110px;
    margin:0;
    font-size: 30px;
    color: var(--primary-color);
    display: grid;
    place-content: center;
    border-left: 1px solid var(--border-color);
    transition: background-color .25s ease;
}

.item:hover {
    background-color: var(--dark-color);
}

@media (width <768px) {

    .item {
        height: 80px;
        width:25%;
    }
  }
  